html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #333333;
    text-align: center;
    color: #111111;
    overflow: hidden;
    font-family: Arial, Roboto, “Droid Sans”, “游ゴシック”, YuGothic, “ヒラギノ角ゴ ProN W3”, “Hiragino Kaku Gothic ProN”, “メイリオ”, Meiryo, sans-serif;
}

#sp-landscape {
    display: none;
}

#dummy {
    float: left;
    width: 5px;
    height: 50%;
    margin-bottom: -320px;
}

#content {
    clear: left;
    width: 400px;
    height: 650px;
    margin: 0 auto;
    background-color: #33394a;
    overflow: hidden;
}

/* Login */

.shake-enter.shake-enter-active {
    animation: shake 0.5s linear infinite;
    -webkit-animation: shake 0.5s linear infinite;
}

@keyframes shake {
    0% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    10% {
        transform: translate(-2px, -3px) rotate(-1deg);
    }
    20% {
        transform: translate(-4px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(0px, 3px) rotate(0deg);
    }
    40% {
        transform: translate(2px, -2px) rotate(1deg);
    }
    50% {
        transform: translate(-2px, 3px) rotate(-1deg);
    }
    60% {
        transform: translate(-4px, 2px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 2px) rotate(-1deg);
    }
    80% {
        transform: translate(-2px, -2px) rotate(1deg);
    }
    90% {
        transform: translate(2px, 4px) rotate(0deg);
    }
    100% {
        transform: translate(2px, -3px) rotate(-1deg);
    }
}

/* app */
.app {
    height: 100%;
}

/* main */
.main {
    height: 81%;
    overflow-x: scroll;
    background-color: white;
}

/* Main-menubar */
.menubar {
    height: 9%;
    position: relative;
}

.menubar ul {
    height: 100%;
    width: 100%;
    background-color: #33394a;
    display: table;
    table-layout: fixed;
    text-align: center;
}

.menubar li {
    display: table-cell;
    vertical-align: middle;
    padding-top: 3%;
    padding-bottom: 1%;
}

.menubar span {
    color: #8490b2;
    display: block;
    font-size: 120%;
}

.menubar a {
    text-decoration: none;
}

/* Header */
.header {
    background-color: #33394a;
    height: 10%;
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    font-size: 130%;
}

.header li {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: white;
}

.header-left {
    height: 100%;
    width: 15%;
}

.header-center {
    height: 100%;
    width: 70%;
}

.header-right {
    height: 100%;
    width: 15%;

}

/* rooms */
.rooms {
    display: block;
    height: 100%;
}

.rooms li {
    height: 17%;
}

.room-image {
    width: 20%;
    height: 100%;
    float: left;
}

.room-image img {
    margin: 15%;
    max-width: 80%;
    max-height: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
}

.room-detail {
    float: left;
    height: 100%;
    width: 80%;
    border: 1px #eeeeee;
    border-bottom-style: solid;
    text-align: left;
}

.room-name {
    font-weight: bold;
    padding: 4% 0 0 5%;
    color: black;
}

.room-content {
    padding: 0 0 0 5%;
    color: darkgrey;
}

.room-inner {
    height: 100%;
}

/* Message */
.messages {
    display: block;
    height: 100%;
}

.messages li {
    width: 100%;
}

.message-image {
    width: 20%;
    height: 100%;
    float: left;
}

.message-image img {
    margin: 10%;
    max-width: 80%;
    max-height: 80%;
    -webkit-border-radius: 80%;
    -moz-border-radius: 80%;
}

.message-detail {
    float: left;
    height: 100%;
    width: 80%;
    float: left;
}

.message-name {
    padding: 1% 0 0 0;
    color: darkgrey;
}

.outbox {
    display: block;
    background-color: #0000FF;
}

/* Common */
.pointer {
    cursor: pointer;
}

.clear {
    clear: both;
}

@media screen and (max-width: 760px) {
    body {
    }

    #dummy {
        display: none;
    }

    #content {
        width: 100%;
        height: 100%;
    }

    .header {
        height: 10%;
    }

    .main {
        height: 80%;
    }

    .menubar {
        height: 9%;
        position: relative;
    }
}

/* スマホ横向き*/
@media only screen and (max-device-width: 760px) and (orientation: landscape) {
    body {
        background-color: black;
    }

    body * {
        display: none;
    }

    #sp-landscape {
        color: white;
        display: block;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #sp-landscape div {
        font-size: 100%;
        display: block;
    }
}


